/* aaronalex98 */
/* aaronalex1998@gmail.com */

:root {
  --main: 'Inter', sans-serif;

  --orange: #FF7814;
}

html{
  font-size: 16px;
  box-sizing: border-box;
}







/* Mobile */
@media screen and (max-width: 640px){

body{
  font-size: 1rem;
}

header{
  /* border-style: solid;
  border-width: 1px; */

  height: 60px;

  display: flex;
  align-items: center;
  padding: 0%;

}

/* Company Logo */
header img{
  width: 12%;
  min-width: 40px;
  max-width: 50px;
}

/* Company Title */
header h1{
  /* border-style: solid;
  border-width: 1px; */

  width: 80%;
  min-width: 230px;

  font-size: 1.2em;
  font-family: var(--main);
  font-weight: 400;
  color: var(--orange);
}

/* Hamburger Menu Icon */

.menu-toggle{
  /* border-style: solid;
  border-width: 1px; */

  height: 50%;

  display: flex;
  flex-direction: column;

  justify-content: space-around;

  padding: 0% 1%;


}

.menu-toggle .topL{
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;

  width: 8vw;
  height: 1px;
  min-width: 25px;
  max-width: 30px;

  background-color: #000;

  transition: all ease-in-out 300ms;
}

.menu-toggle .hamburger{
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;

  width: 8vw;
  height: 1px;
  min-width: 25px;
  max-width: 30px;

  background-color: #000;

  transition: all ease-in-out 300ms;
}

.menu-toggle .botL{
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;

  width: 8vw;
  height: 1px;
  min-width: 25px;
  max-width: 30px;

  background-color: #000;

  transition: all ease-in-out 300ms;
}

/* Centre line when Menu Open */
.menu-toggle-open .hamburger{
  opacity: 0;
}

/* Top Line when Menu Open */
.menu-toggle-open .topL{
  transform: translateY(10px) rotate(-45deg);
}

/* Bottom Line when Menu Open */
.menu-toggle-open .botL{
  transform: translateY(-10px) rotate(45deg);
}


/* Menu Box when Closed */
header .menu{
  /* border-style: solid;
  border-width: 0px; */

  width: 45%;
  height: 0px;
  overflow: hidden;

  display: flex;
  flex-direction: column;

  position: absolute;
  right: 0%;
  top: 60px;

}

header .menu-open{
  border-style: solid;
  border-width: 1px 0px 0px 1px;

  height: auto;

  background-color: #fff;
}

/* Menu Links */
header .menu a{
  border-style: solid;
  border-width: 0px 0px 1px 0px;

  display: flex;
  align-items: center;

  padding: 30px 5%;

  font-family: montserrat;
  text-decoration: none;
}


/* Banner */
main .banner{
  /* border-style: solid;
  border-width: 1px; */

  height: 50vh;
  min-height: 300px;
  max-height: 350px;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 0% 5%;

  background: /* top, transparent red, faked with gradient */
      linear-gradient(
        rgba(255, 255, 255, 0.1),
        rgba(0, 0, 0, 0.8)
      ),
      /* bottom, image */
      url(https://images.pexels.com/photos/380768/pexels-photo-380768.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);

  background-size: cover;
  background-position: left;

}

/* Banner - Tagline */
main .banner p{
  border-style: solid;
  border-width: 0px 0px 4px 0px;
  border-color: var(--orange);



  padding: 2% 0%;

  font-family: var(--main);
  font-size: 1.6em;
  font-weight: 400;
  color: #fff;
  text-shadow: 1px 1px 2px #000;
  text-align: center;
}

/* Our Vision */
main .desc-block{
  /* border: solid 1px; */

  display: flex;
  justify-content: flex-start;
  align-items: center;

  height: 40vh;
  min-height: 250px;
  max-height: 280px;

  padding: 5% 4%;

  font-family: var(--main);

}

main .desc-block a{
  text-decoration: none;
}

main .desc-block h2{
  font-size: 1.5em;
  font-weight: 600;
  color: var(--orange);
  text-shadow: 1px 2px 5px rgba(0, 0, 0, 0.5);

  padding: 2% 0%;
}

main .desc-block p{
  font-size: 1em;
  font-weight: 200;
}

/* Home Furniture Background */
main #home_furn{
  /* border-width: 4px 0px 0px 0px;
  border-style: solid;
  border-color: var(--orange); */

  background:
      linear-gradient(
        rgba(0, 0, 0, 0.3),
        rgba(0, 0, 0, 0.3)
      ),
      /* bottom, image */
      url(https://images.pexels.com/photos/189295/pexels-photo-189295.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  background-size: cover;
}

main #home_furn p{
  color: #fff;
  text-shadow: 1px 2px 5px rgba(0, 0, 0, 0.5);
}

/* Institutional Furniture BG */
main #insti_furn{
  /* border-width: 4px 0px 0px 0px;
  border-style: solid;
  border-color: var(--orange); */

  background:
      linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
      ),
      /* bottom, image */
      url(https://images.pexels.com/photos/2041540/pexels-photo-2041540.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  background-size: cover;
  background-position: bottom;
}

main #insti_furn p{
  color: #fff;
  text-shadow: 1px 2px 5px rgba(0, 0, 0, 0.5);
}


/* Commercial Furniture BG */
main #comm_furn{
  /* border-width: 4px 0px 0px 0px;
  border-style: solid;
  border-color: var(--orange); */

  background:
      linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
      ),
      /* bottom, image */
      url(https://images.pexels.com/photos/1170412/pexels-photo-1170412.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  background-size: cover;
  background-position: bottom;
}

main #comm_furn p{
  color: #fff;
  text-shadow: 1px 2px 5px rgba(0, 0, 0, 0.5);
}




/* Our Products */

/* Main */
main > h2{
  border-style: solid;
  border-width: 0px 20px 0px 0px;
  box-sizing: border-box;
  border-color: var(--orange);


  min-height: 80px;
  max-height: 100px;
  height: 10vh;

  padding: 0% 2%;

  display: flex;
  align-items: center;

  font-family: var(--main);
  font-size: 1.8em;
  font-weight: 600;

  background-color: #515050;
  color: #fff;
  text-shadow: 1px 2px 5px rgba(0, 0, 0, 0.5);

}












/* End of Mobile */
}



































/* Tablet */
@media screen and (min-width: 641px) and (max-width: 900px){

body{
  font-size: 1.2rem;
}

header{
  /* border-style: solid;
  border-width: 1px; */

  display: flex;
  align-items: center;

  height: 60px;
  padding: 1%;

  font-size: 0.8em;
}

/* Company Logo */
header img{
  width: 10%;
  min-width: 40px;
  max-width: 60px;
}

/* Company Title */
header h1{
  /* border-style: solid;
  border-width: 1px; */

  width: 46%;
  min-width: 280px;
  max-width: 400px;

  font-size: 1.4em;
  font-family: var(--main);
  font-weight: 400;
  color: var(--orange);

}

/* Navigation Menu */
header .menu{
  /* border-style: solid;
  border-width: 1px; */

  display: flex;
  justify-content: space-around;
  align-items: center;

  width: 44%;
  height: 60%;
}

header .menu a{
  border-style: solid;
  border-width: 0px 0px 0px 1px;

  display: flex;

  width: 100%;
  height: 100%;

  padding: 0% 1%;

  align-items: center;
  justify-content: center;

  font-family: var(--main);
  font-weight: 300;
  font-size: 0.9em;
  text-decoration: none;
}

/* Hiding Menu toggle */
header .menu-toggle{
  display: none;
}

/* MAIN */

/* Banner */
main .banner{
  /* border: solid 1px; */

  height: 80vh;
  min-height: 200px;
  max-height: 350px;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 0% 3%;

  background: /* top, transparent red, faked with gradient */
      linear-gradient(
        rgba(255, 255, 255, 0.1),
        rgba(0, 0, 0, 0.8)
      ),
      /* bottom, image */
      url(https://images.pexels.com/photos/380768/pexels-photo-380768.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);

  background-size: cover;
  background-position: left;

}

/* Banner - Tagline */
main .banner p{
  border-style: solid;
  border-width: 0px 0px 4px 0px;
  border-color: var(--orange);

  padding: 2% 0%;

  font-family: var(--main);
  font-size: 2em;
  font-weight: 400;
  color: #fff;
  text-shadow: 1px 1px 2px #000;
}


/* Our Vision */
main .desc-block{
  /* border: solid 1px; */

  display: flex;
  justify-content: flex-start;
  align-items: center;

  height: 25vh;
  min-height: 250px;
  max-height: 400px;

  padding: 5% 4%;

  font-family: var(--main);
}

main .desc-block h2{
  font-size: 2em;
  font-weight: 600;
  color: var(--orange);
  text-shadow: 1px 2px 5px rgba(0, 0, 0, 0.5);

  padding: 2% 0%;
}

main .desc-block p{
  font-size: 1em;
  font-weight: 200;
}

main .desc-block a{
  text-decoration: none;
}

/* Home Furniture Background */
main #home_furn{
  border-width: 4px 0px 0px 0px;
  border-style: solid;
  border-color: var(--orange);

  background:
      linear-gradient(
        rgba(0, 0, 0, 0.3),
        rgba(0, 0, 0, 0.3)
      ),
      /* bottom, image */
      url(https://images.pexels.com/photos/189295/pexels-photo-189295.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  background-size: cover;
  background-position: center;
}

main #home_furn p{
  color: #fff;
}

/* Institutional Furniture BG */
main #insti_furn{
  border-width: 4px 0px 0px 0px;
  border-style: solid;
  border-color: var(--orange);

  background:
      linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
      ),
      /* bottom, image */
      url(https://images.pexels.com/photos/2041540/pexels-photo-2041540.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  background-size: cover;
  background-position: center;
}

main #insti_furn p{
  color: #fff;
}


/* Commercial Furniture BG */
main #comm_furn{
  border-width: 4px 0px 0px 0px;
  border-style: solid;
  border-color: var(--orange);

  background:
      linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
      ),
      /* bottom, image */
      url(https://images.pexels.com/photos/1170412/pexels-photo-1170412.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  background-size: cover;
  background-position: center;
}

main #comm_furn p{
  color: #fff;
}

/* Our Products */

/* Page Headers */
main > h2{
  border-style: solid;
  border-width: 0px 20px 0px 0px;
  border-color: var(--orange);

  height: 8vh;
  min-height: 80px;
  max-height: 100px;

  display: flex;
  align-items: center;

  padding: 0% 4%;

  font-family: var(--main);
  font-size: 1.8em;
  font-weight: 600;

  background-color: #515050;
  color: #fff;

  text-shadow: 1px 2px 5px rgba(0, 0, 0, 0.5);

}




/* End of Tablet */
}





























/* Desktop */
@media screen and (min-width: 901px){

body{
  font-size: 1rem;
}

header{
  /* border-style: solid;
  border-width: 1px; */

  display: flex;
  align-items: center;

  height: 10vh;
  min-height: 60px;
  max-height: 80px;
  padding: 1%;

  background-color: #FEFEFF;
}

/* Company Logo */
header img{
  width: 5%;
  min-width: 60px;
  max-width: 80px;
}

/* Company Title */
header h1{
  /* border-style: solid;
  border-width: 1px; */

  width: 60%;
  min-width: 450px;
  max-width: 700px;

  font-size: 2.2em;
  font-family: var(--main);
  font-weight: 400;
  color: var(--orange);
}

header .menu{
  /* border-style: solid;
  border-width: 1px; */

  display: flex;
  justify-content: space-around;
  align-items: center;

  width: 50%;
  height: 80%;
}

header .menu a{
  border-style: solid;
  border-width: 0px 0px 0px 1px;

  display: flex;
  justify-content: center;
  align-items: center;

  height: 100%;
  width: 100%;

  font-size: 1em;
  font-family: var(--main);
  font-weight: 300;
  text-decoration: none;
  color: #000000;
}

/* Hiding Menu toggle */
header .menu-toggle{
  display: none;
}



/* * MAIN * */
main{
  font-size: 1.2rem;
}

/* Banner */
main .banner{
  /* border: solid 1px; */

  height: 80vh;
  min-height: 250px;
  max-height: 600px;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 0% 2%;

  background: /* top, transparent red, faked with gradient */
      linear-gradient(
        rgba(255, 255, 255, 0.1),
        rgba(0, 0, 0, 0.8)
      ),
      /* bottom, image */
      url(https://images.pexels.com/photos/380768/pexels-photo-380768.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);

  background-size: cover;
  background-position: left;

}

/* Banner - Tagline */
main .banner p{
  border-style: solid;
  border-width: 0px 0px 4px 0px;
  border-color: var(--orange);

  padding: 2% 0%;

  width: auto;

  font-family: var(--main);
  font-size: 2.8em;
  font-weight: 600;
  color: #fff;
  text-shadow: 1px 1px 2px #000;
  text-align: center;
}

/* Our Vision */
main .desc-block{
  /* border: solid 1px; */

  display: flex;
  justify-content: flex-start;
  align-items: center;

  height: 50vh;
  min-height: 250px;
  max-height: 400px;

  padding: 5% 4%;

  font-family: var(--main);
}

main .desc-block h2{
  font-size: 2.5em;
  font-weight: 600;
  color: var(--orange);
  text-shadow: 1px 2px 5px rgba(0, 0, 0, 0.5);

  padding: 1% 0%;
}

main .desc-block p{
  font-size: 1.2em;
  font-weight: 200;

}

main .desc-block a{
  text-decoration: none;
}

/* Home Furniture Background */
main #home_furn{
  border-width: 4px 0px 0px 0px;
  border-style: solid;
  border-color: var(--orange);

  background:
      linear-gradient(
        rgba(0, 0, 0, 0.3),
        rgba(0, 0, 0, 0.3)
      ),
      /* bottom, image */
      url(https://images.pexels.com/photos/189295/pexels-photo-189295.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  background-size: cover;
  background-position: center;
}

main #home_furn p{
  color: #fff;
}

/* Institutional Furniture BG */
main #insti_furn{
  border-width: 4px 0px 0px 0px;
  border-style: solid;
  border-color: var(--orange);

  background:
      linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
      ),
      /* bottom, image */
      url(https://images.pexels.com/photos/2041540/pexels-photo-2041540.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  background-size: cover;
  background-position: center;
}

main #insti_furn p{
  color: #fff;
}


/* Commercial Furniture BG */
main #comm_furn{
  border-width: 4px 0px 0px 0px;
  border-style: solid;
  border-color: var(--orange);

  background:
      linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
      ),
      /* bottom, image */
      url(https://images.pexels.com/photos/1170412/pexels-photo-1170412.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  background-size: cover;
  background-position: center;
}

main #comm_furn p{
  color: #fff;
}


/* Our Products */

/* Page Headers */
main > h2{
  border-style: solid;
  border-width: 0px 20px 0px 0px;
  border-color: var(--orange);


  height: 20vh;
  min-height: 100px;
  max-height: 120px;

  display: flex;
  align-items: center;

  padding: 0% 4%;

  font-family: var(--main);
  font-size: 2.5em;
  font-weight: 600;

  background-color: #515050;
  color: #fff;

  text-shadow: 1px 2px 5px rgba(0, 0, 0, 0.5);

}








/* End of Desktop */
}
