/* aaronalex98 */
/* aaronalex1998@gmail.com */

:root {
  --main: 'Inter', sans-serif;

  --orange: #FF7814;
}

/* Mobile */
@media screen and (max-width: 640px){

html{
  font-size: 16px;
}

header{
  /* border-style: solid;
  border-width: 1px; */

  height: 60px;

  display: flex;
  align-items: center;
  padding: 0%;

  font-size: 1rem;
}

/* Company Logo */
header img{
  width: 12%;
  min-width: 40px;
  max-width: 60px;
}

/* Company Title */
header h1{
  /* border-style: solid;
  border-width: 1px; */

  width: 80%;
  min-width: 230px;

  font-size: 1.2em;
  font-family: var(--main);
  font-weight: 400;
  color: var(--orange);
}

/* Hamburger Menu Icon */

.menu-toggle{
  /* border-style: solid;
  border-width: 1px; */

  height: 50%;

  display: flex;
  flex-direction: column;

  justify-content: space-around;

  padding: 0% 1%;


}

.menu-toggle .topL{
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;

  width: 8vw;
  height: 1px;
  min-width: 25px;
  max-width: 30px;

  background-color: #000;

  transition: all ease-in-out 300ms;
}

.menu-toggle .hamburger{
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;

  width: 8vw;
  height: 1px;
  min-width: 25px;
  max-width: 30px;

  background-color: #000;

  transition: all ease-in-out 300ms;
}

.menu-toggle .botL{
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;

  width: 8vw;
  height: 1px;
  min-width: 25px;
  max-width: 30px;

  background-color: #000;

  transition: all ease-in-out 300ms;
}

/* Centre line when Menu Open */
.menu-toggle-open .hamburger{
  opacity: 0;
}

/* Top Line when Menu Open */
.menu-toggle-open .topL{
  transform: translateY(10px) rotate(-45deg);
}

/* Bottom Line when Menu Open */
.menu-toggle-open .botL{
  transform: translateY(-10px) rotate(45deg);
}


/* Menu Box when Closed */
header .menu{
  /* border-style: solid;
  border-width: 0px; */

  width: 45%;
  height: 0px;
  overflow: hidden;

  display: flex;
  flex-direction: column;

  position: absolute;
  right: 0%;
  top: 60px;

}

header .menu-open{
  border-style: solid;
  border-width: 1px 0px 0px 1px;

  height: auto;

  background-color: #fff;
}

/* Menu Links */
header .menu a{
  border-style: solid;
  border-width: 0px 0px 1px 0px;

  display: flex;
  align-items: center;

  padding: 30px 5%;

  font-family: montserrat;
  text-decoration: none;
}


/* MAIN */

/* Banner */
main .banner{
  /* border-style: solid;
  border-width: 1px; */

  height: 50vh;
  min-height: 300px;
  max-height: 400px;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 0% 5%;

  background: /* top, transparent red, faked with gradient */
      linear-gradient(
        rgba(255, 255, 255, 0.1),
        rgba(0, 0, 0, 0.8)
      ),
      /* bottom, image */
      url(https://images.pexels.com/photos/380768/pexels-photo-380768.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);

  background-size: cover;
  background-position: left;

  font-size: 1rem;
}

/* Banner - Tagline */

main .banner p{
  border-style: solid;
  border-width: 0px 0px 4px 0px;
  border-color: var(--orange);



  padding: 2% 0%;

  font-family: var(--main);
  font-size: 1.6em;
  font-weight: 400;
  color: #fff;
  text-shadow: 1px 1px 2px #000;

}


/* End of Mobile */
}


/* Tablet */
@media screen and (min-width: 641px) and (max-width: 900px){

html{
  font-size: 18px;
}

header{
  border-style: solid;
  border-width: 1px;

  display: flex;
  align-items: center;

  height: 60px;
  padding: 1%;

  font-size: 1rem;
}

/* Company Logo */
header img{
  width: 10%;
  min-width: 40px;
  max-width: 60px;
}

/* Company Title */
header h1{
  /* border-style: solid;
  border-width: 1px; */

  width: 46%;
  min-width: 280px;
  max-width: 400px;

  font-size: 1.4em;
  font-family: var(--main);
  font-weight: 400;
  color: var(--orange);

}

/* Navigation Menu */
header .menu{
  /* border-style: solid;
  border-width: 1px; */

  display: flex;
  justify-content: space-around;
  align-items: center;

  width: 44%;
  height: 60%;
}

header .menu a{
  border-style: solid;
  border-width: 0px 0px 0px 1px;

  display: flex;

  width: 100%;
  height: 100%;

  padding: 0% 1%;

  align-items: center;
  justify-content: center;

  font-family: var(--main);
  font-weight: 300;
  font-size: 0.9em;
  text-decoration: none;
}

/* Hiding Menu toggle */
header .menu-toggle{
  display: none;
}

/* MAIN */

/* Banner */
main .banner{
  border: solid 1px;

  height: 80vh;
  min-height: 200px;
  max-height: 380px;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 0% 5%;

  background: /* top, transparent red, faked with gradient */
      linear-gradient(
        rgba(255, 255, 255, 0.1),
        rgba(0, 0, 0, 0.8)
      ),
      /* bottom, image */
      url(https://images.pexels.com/photos/380768/pexels-photo-380768.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);

  background-size: cover;
  background-position: left;

  font-size: 1rem;
}

/* Banner - Tagline */
main .banner p{
  border-style: solid;
  border-width: 0px 0px 4px 0px;
  border-color: var(--orange);

  padding: 2% 0%;

  font-family: var(--main);
  font-size: 1.6em;
  font-weight: 400;
  color: #fff;
  text-shadow: 1px 1px 2px #000;
}




/* End of Tablet */
}


/* Desktop */
@media screen and (min-width: 901px){

html{
  font-size: 18px;
}

header{
  border-style: solid;
  border-width: 1px;

  display: flex;
  align-items: center;

  height: 10vh;
  min-height: 60px;
  max-height: 80px;
  padding: 1%;

  font-size: 1rem;

  background-color: #FEFEFF;
}

/* Company Logo */
header img{
  width: 5%;
  min-width: 60px;
  max-width: 80px;
}

/* Company Title */
header h1{
  /* border-style: solid;
  border-width: 1px; */

  width: 55%;
  min-width: 450px;
  max-width: 600px;

  font-size: 2em;
  font-family: var(--main);
  font-weight: 400;
  color: var(--orange);
}

header .menu{
  /* border-style: solid;
  border-width: 1px; */

  display: flex;
  justify-content: space-around;
  align-items: center;

  width: 50%;
  height: 80%;
}

header .menu a{
  border-style: solid;
  border-width: 0px 0px 0px 1px;

  display: flex;
  justify-content: center;
  align-items: center;

  height: 100%;
  width: 100%;

  font-size: 1.1em;
  font-family: var(--main);
  font-weight: 300;
  text-decoration: none;
  color: #000000;
}




/* End of Tablet */
}
